<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appconnect="local" components="{dmxTyped:{}}" style="" -->

<div class="bg-login h-100">
    <div class="container center-login">


        <div class="row d-flex justify-content-center">
            <img class="center-image-login" src="/assets/images/logo.svg">
        </div>
        <br>
        <div class="row">
            <span class="text-sidebar-title1">Fuel your immunity</span>
            <span class="text-sidebar-title2">Naturally</span>
        </div>
        <br>
        <div class="row">
            <p class="text-login">Boost Your Wellness with Enyrgy's Light Therapy Device and Mobile App</p>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <p class="text-sidebar-title1">Please check your email and click the link to sign in.</p>
            </div>
        </div>
    </div>


    <meta name="ac:route" content="/message/">
</div>